node_modules
dist
dist-ssr
*.local
.env
.env.*
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
README.md

