.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loginContainer {
    width: 40vw;
    min-width: 400px;
    height: auto;
    margin-top: 8vh;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
